<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperVault</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="home">

    <nav class="navbar">
        <div class="nav-left">PaperVault</div>

        <div class="nav-right">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="#">Docs</a>
            <a href="#">About</a>
        </div>
    </nav>


    <main class="container">

        <div class="landing-page">
            <h1>PaperVault</h1>
            <p>PaperVault is an app meant to store documents, such as homework or notes</p>

            <a class="button-link" href="/register">
                Get Started
            </a>
        </div>

        <div class="landing-page">

            <h2>
                <span class="highlight">
                    Why create PaperVault?
                </span>
            </h2>

            <p>
                As a student from the class 2m, I have noticed in our class chat,
                that my colleagues always ask for the notes/homework. This is a tedious task
                because people are busy and don't always respond.

                To fix this, I created
                <span class="highlight">PaperVault</span>.
            </p>

        </div>

    </main>


    <footer class="footer">

        <div class="footer-section">
            <strong>Contact</strong>
            <p>Number: ___</p>
            <p>Email: ___</p>
        </div>

        <div class="footer-section">
            <strong>Links</strong>
            <p><a href="/">Home</a></p>
            <p><a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
        </div>

        <div class="footer-section">
            <strong>Info</strong>
            <p>School: ___</p>
            <p>Class: ___</p>
        </div>

    </footer>

</body>
</html>