<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperVault</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="home">
    <header class="navbar">
        <div class="logo">PaperVault</div>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/docs">Docs</a>
            <a href="/about">About</a>
        </nav>
    </header>

<main class="container">

<section class="card">
    <h1>PaperVault</h1>
    <p>PaperVault is an app meant to store documents, such as homework or notes</p>

    <a class="button" href="/register">Get Started</a>
</section>

<section class="card">
    <h2><span class="highlight">Why create PaperVault?</span></h2>

    <p>
    As a student from the class 2m, I have noticed in our class chat that my
    colleagues always ask for the notes/homework. This is a tedious task because
    people are busy and don't always respond. To fix this, I created
    <span class="highlight">PaperVault</span>.
    </p>
</section>
    <p>website is still a work in progress</p></main>
    <img src="/static/images (3).jpg"></body>
<footer class="footer">
    <div>
    <h3>Contact</h3>
    <a href="https://discord.com/users/1020374865410277406">discord</a>
    <p>1 868 484-8881</p>
    </div>

    <div>
    <h3>Links</h3>
    <a href="https://github.com/devan518/papervault">github</a>
    </div>

</footer>

</body>
</html>